NODE_ENV=development

# ==== Application
APP_HOST="localhost"
APP_PORT=3000
APP_PREFIX='api'
APP_CORS_ORIGIN='http:localhost:3000,https://frontend.example.com'

# ==== Database
DB_MONGO_URI="mongodb+srv://<USERNAME>:<PASSWORD>@example-cluster0.cbtkemk.mongodb.net/<DATABASE_NAME>?appName=<APP_NAME>"
